openapi: 3.0.1
info:
  title: Eclipse XFSC Federated Catalogue
  description: REST API of the XFSC catalogue
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
  - url: https://fc-server.xfsc.org
    description: some future test environment
components:
  responses:
    NotFound:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: >-
        Forbidden. The user does not have the permission to execute this
        request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ServerError:
      description: >-
        May contain hints how to solve the error or indicate what went wrong at
        the server. Must not outline any information about the internal
        structure of the server.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ClientError:
      description: >-
        May contain hints how to solve the error or indicate what was wrong in
        the request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Conflict:
      description: HTTP Conflict 409
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unprocessible:
      description: HTTP Unprocessible Entity 422
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    UnsupportedMediaType:
      description: >-
        The Content-Type indicates a query language not supported by the active
        graph database backend. Check GET /query/info for the supported language.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      required:
        - code
        - message
    Statement:
      type: object
      properties:
        statement:
          type: string
          example: Match (m:Movie) where m.released > 2000 RETURN m
        parameters:
          $ref: '#/components/schemas/Parameters'
      required:
        - statement
    Parameters:
      type: object
      additionalProperties:
        type: object
      example:
        name: "John"
        limit: 10
        offset: 5
    Result:
      type: object
      additionalProperties:
        type: object
    QueryLanguage:
      type: string
      enum:
        - OPENCYPHER
        - SPARQL
      default: OPENCYPHER
    AnnotatedStatement:
      allOf:
        - $ref: '#/components/schemas/Statement'
        - type: object
          properties:
            servers:
              type: array
              uniqueItems: true
              items:
                type: string
                description: known catalog servers already queried in distributed search scenario
            annotations:
              type: object
              additionalProperties:
                type: object
                description: additional properties to tune query execution
              example:
                queryLanguage: SPARQL
                timeout: 30
                withTotalCount: false
    VerificationResult:
      type: object
      properties:
        verificationTimestamp:
          type: string
          format : date-time
        lifecycleStatus: #!! is not known when verifying external credentials -> Julius: You are supposed to compute the status (active, invalid, etc.) from the available information. That is the result of the validation. Maybe rename to just status
          type: string # does the asset have a lifecycle status in this catalogue?
          description: Lifecycle-state an asset would get, if it would be added to the catalogue.
        issuer: #!! Is this the participant? -> Julius: Yes, the participant that created the credential
          type: string # contains the id of the issuers credential if available #!! NOT FURTHER SPECIFIED
          description: ID of the issuer's credential, if available.
        issuedDateTime:
          type: string
          format: date-time
        validatorDids:
          type: array
          items:
            type: string
            description: The DIDs of validators that signed parts of the credential
        warnings:
          type: array
          description: >-
            Warnings issued during processing (e.g. triples removed due to reserved namespace filtering).
            The operation succeeded for all remaining data. Absent or empty when no warnings occurred.
          items:
            type: string
          example:
            - "2 triple(s) were removed from your upload because they use the reserved internal namespace
               <https://projects.eclipse.org/projects/technology.xfsc/federated-catalogue/meta#>.
               This namespace is reserved for internal catalogue use only and cannot be set by external clients."
      required:
        - verificationTimestamp
        - lifecycleStatus #!! is not known when verifying external credentials. Remove from required -> Julius: You are supposed to compute the status (active, invalid, etc.) from the available information. That is the result of the validation. Maybe rename to just status
        - issuer #!! Comment on issuer: if available, but still required?? Remove from required -> Julius: required
        - issuedDateTime
        - validatorDids
        - warnings
    Participant:
      type: object
      properties:
        id:
          type: string
          description: Global ID of the participant
        name:
          type: string
        publicKey: #!! Can this be changed? If it is changed, are all credentials signed by the old key invalid? -> Julius: For the first version you can assume that credentials go invalid when the TrustAnchor or participant key change
          type: string
        asset:
          type: string
    User:
      type: object
      properties:
        participantId:
          type: string
          description: Global ID of the associated participant
          example: ExampleCompany
        firstName:
          type: string
          example: John
        lastName:
          type: string
          example: Doe
        email:
          type: string
        roleIds:
          type: array
          items:
            $ref: '#/components/schemas/Role'
      required:
        - participantId
        - firstName
        - lastName
        - email
    UserProfile:
      allOf:
        - $ref: '#/components/schemas/User'
        - type: object
          properties:
            id:
              type: string
              description: Internal catalogue user id
              example: ExampleCompany-John-Doe
            username:
              type: string
              example: John Doe
          required:
            - id
            - username
    Role: #!! Changed Role from an object with a single String property to simply a String
      type: string
      example: Ro-MU-CA
    Session:
      type: object
      properties:
        userId:
          type: string
        creationDatetime:
          type: string
          format: date-time
        status: #!! What is a status?
          type: string
#        seed: #!! We must have a seed to do pagination, user must be able to set it? -> Julius: ok
#          type: string
        roleIds:
          type: array
          items:
            $ref: '#/components/schemas/Role'
    Asset:
      type: object
      properties:
        assetHash:
          type: string
        id: #!! Added id / credentialSubject
          type: string
        status:
          $ref: '#/components/schemas/AssetStatus'
        issuer:
          type: string
        validatorDids:
          description: >-
            The credentialSubjects of the parties that validated (parts of) the
            credential.
          type: array
          items:
            type: string
        uploadDatetime:
          type: string
          format: date-time
          example: '2022-03-01T13:00:00Z'
          description: The time stamp (ISO8601) when the asset was uploaded.
        statusDatetime:
          type: string
          format: date-time
          example: '2022-05-11T15:30:00Z'
          description: >-
            The last time stamp (ISO8601) the status changed (for this
            Catalogue)
        contentType:
          type: string
          description: MIME content-type of the uploaded asset (e.g. application/ld+json, application/pdf)
          example: 'application/ld+json'
        fileSize:
          type: integer
          format: int64
          description: Size of the uploaded asset in bytes
        warnings:
          type: array
          description: >-
            Warnings issued during processing (e.g. triples removed due to reserved namespace filtering).
            The operation succeeded for all remaining data. Absent or empty when no warnings occurred.
          items:
            type: string
          example:
            - "2 triple(s) were removed from your upload because they use the reserved internal namespace
               <https://projects.eclipse.org/projects/technology.xfsc/federated-catalogue/meta#>.
               This namespace is reserved for internal catalogue use only and cannot be set by external clients."
        humanReadableId:
          type: string
          description: >-
            IRI of the linked human-readable representation (e.g. a PDF document),
            if one has been attached to this machine-readable asset. Absent when no link exists.
        machineReadableId:
          type: string
          description: >-
            IRI of the linked machine-readable asset, if this asset is a human-readable
            representation linked to a machine-readable parent. Absent when no link exists.
    AssetStatus:
      type: string
      enum:
        - active
        - eol
        - deprecated
        - revoked
    AssetResult:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/Asset'
        content:
          type: string
    OntologySchema:
      type: object
      properties:
        ontologies:
          description: 'SchemaIds of ontologies, defining the terms of a schema'
          type: array
          items:
            type: string
            example: schemaId
        shapes:
          description: 'SchemaIds of shapes (SHACL Shapes Constraint Language) used to validate instances against the schema.'
          type: array
          items:
            type: string
            example: schemaId
        vocabularies:
          description: 'SchemaIds of controlled vocabularies used in the schema'
          type: array
          items:
            type: string
            example: schemaId
        jsonSchemas:
          description: 'SchemaIds of JSON Schemas used to validate JSON assets.'
          type: array
          items:
            type: string
            example: schemaId
        xmlSchemas:
          description: 'SchemaIds of XML Schemas (XSD) used to validate XML assets.'
          type: array
          items:
            type: string
            example: schemaId
    ResultPage:
      type: object
      properties:
        totalCount:
          type: integer
    Assets:
      allOf:
        - $ref: '#/components/schemas/ResultPage'
        - type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/AssetResult'
    Participants:
      allOf:
        - $ref: '#/components/schemas/ResultPage'
        - type: object
          properties:
            items: 
              type: array
              items: 
                $ref: '#/components/schemas/Participant'
    UserProfiles:
      allOf:
        - $ref: '#/components/schemas/ResultPage'
        - type: object
          properties:
            items: 
              type: array
              items: 
                $ref: '#/components/schemas/UserProfile'
    Results:
      allOf:
        - $ref: '#/components/schemas/ResultPage'
        - type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/Result'
    SchemaResult:
      type: object
      properties:
        id:
          type: string
          description: 'The internal identifier of the schema.'
        warnings:
          type: array
          items:
            type: string
          description: 'Warnings generated during schema import (e.g. filtered protected namespace statements).'
        createdAt:
          type: string
          format: date-time
          nullable: true
          description: 'Timestamp when the schema was first uploaded. Present on creation, null on updates.'
        version:
          type: integer
          nullable: true
          description: 'Current version number after this operation. Present on updates, null on creation.'
        previousVersion:
          type: integer
          nullable: true
          description: 'Version number before this operation. Null for first version or on creation.'
    AssetVersion:
      type: object
      required: [version, createdAt, createdBy, status, isCurrent]
      properties:
        version:
          type: integer
          description: '1-based version ordinal.'
        createdAt:
          type: string
          format: date-time
          description: 'Timestamp when this version was created (Envers revision timestamp).'
        createdBy:
          type: string
          description: 'Issuer DID of the asset at this version.'
        status:
          $ref: '#/components/schemas/AssetStatus'
        isCurrent:
          type: boolean
          description: 'Whether this is the current (latest) version.'
        changeComment:
          type: string
          nullable: true
          description: 'Optional change note provided at upload time.'
    AssetVersionList:
      type: object
      required: [id, total, versions]
      properties:
        id:
          type: string
          description: 'The asset IRI.'
        total:
          type: integer
          description: 'Total number of versions.'
        versions:
          type: array
          items:
            $ref: '#/components/schemas/AssetVersion'
          description: 'Descending list (newest first) for the requested page.'
    SchemaVersion:
      type: object
      properties:
        version:
          type: integer
          description: '1-based version ordinal.'
        createdAt:
          type: string
          format: date-time
          description: 'Timestamp when this version was created.'
        isCurrent:
          type: boolean
          description: 'Whether this is the current (latest) version.'
    SchemaVersionList:
      type: object
      properties:
        schemaId:
          type: string
          description: 'The schema identifier.'
        versions:
          type: array
          items:
            $ref: '#/components/schemas/SchemaVersion'
    QueryInfo:
      type: object
      properties:
        backend:
          type: string
          example: "NEO4J"
        queryLanguage:
          type: string
          example: "OPENCYPHER"
        contentType:
          type: string
          example: "application/opencypher-query"
        enabled:
          type: boolean
          example: true
        exampleQuery:
          type: string
        documentation:
          type: string
    RebuildStatus:
      type: object
      properties:
        total:
          type: integer
          format: int64
          description: Total number of assets to process
        processed:
          type: integer
          format: int64
          description: Number of assets processed so far
        percentComplete:
          type: integer
          description: Completion percentage (0-100)
        running:
          type: boolean
          description: Whether a rebuild is currently running
        complete:
          type: boolean
          description: Whether the rebuild has completed
        failed:
          type: boolean
          description: Whether the rebuild has failed
        errorMessage:
          type: string
          description: Error message if the rebuild failed
        errors:
          type: integer
          format: int64
          description: Number of assets that failed during processing
        durationMs:
          type: integer
          format: int64
          description: Duration in milliseconds since rebuild started
    GraphStatus:
      type: object
      properties:
        backend:
          type: string
          description: The graph database backend type (NEO4J, FUSEKI, NONE)
        enabled:
          type: boolean
          description: Whether the graph store is enabled
        healthy:
          type: boolean
          description: Whether the graph store backend is healthy
        activeAssetCount:
          type: integer
          format: int64
          description: Number of active assets in PostgreSQL storage
        claimCountInGraph:
          type: integer
          format: int64
          description: Number of claim triples/nodes in the graph database
        assetCountInGraph:
          type: integer
          format: int64
          description: Number of distinct assets in the graph database
        syncAssessment:
          type: string
          description: Sync assessment (empty, in-sync, out-of-sync, unknown, disabled)
    AdminStats:
      type: object
      properties:
        totalAssets:
          type: integer
          format: int64
          description: Total number of assets in the catalogue
        activeAssets:
          type: integer
          format: int64
          description: Number of active assets
        activeTrustFrameworks:
          type: integer
          format: int64
          description: Number of active trust frameworks
        totalUsers:
          type: integer
          format: int64
          description: Total number of registered users
        totalSchemas:
          type: integer
          format: int64
          description: Total number of schemas
        totalParticipants:
          type: integer
          format: int64
          description: Total number of participants
        graphClaimCount:
          type: integer
          format: int64
          description: Number of claims in the graph database
        graphBackend:
          type: string
          description: The graph database backend type
    AdminHealthStatus:
      type: object
      properties:
        catalogueStatus:
          type: string
          description: Catalogue service status (UP/DOWN)
        graphDbStatus:
          type: object
          properties:
            connected:
              type: boolean
            backend:
              type: string
            claimCount:
              type: integer
              format: int64
        keycloakStatus:
          type: string
          description: Keycloak status (UP/DOWN/UNKNOWN)
        fileStoreStatus:
          type: string
          description: File store status (UP/DOWN)
        databaseStatus:
          type: string
          description: Database status (UP/DOWN)
        keycloakUrl:
          type: string
          description: Keycloak issuer URL
        fileStorePath:
          type: string
          description: File store directory path
    KeycloakAdminUrl:
      type: object
      properties:
        url:
          type: string
          description: Keycloak Admin Console URL for the catalogue realm
    TrustFrameworkEntry:
      type: object
      properties:
        id:
          type: string
          description: Trust framework identifier
        name:
          type: string
          description: Display name
        serviceUrl:
          type: string
          description: Trust framework service URL
        apiVersion:
          type: string
          description: API version
        timeoutSeconds:
          type: integer
          description: Connection timeout in seconds
        connected:
          type: boolean
          description: Whether the service is currently reachable
        enabled:
          type: boolean
          description: Whether this framework is active
    TrustFrameworkConfigUpdate:
      type: object
      properties:
        serviceUrl:
          type: string
          description: New service URL
        apiVersion:
          type: string
          description: New API version
        timeoutSeconds:
          type: integer
          description: New timeout in seconds
    SchemaValidationStatus:
      type: object
      properties:
        totalSchemaCount:
          type: integer
          format: int64
          description: Total number of schemas across all modules
        modules:
          type: array
          items:
            $ref: '#/components/schemas/SchemaValidationModule'
    SchemaValidationModule:
      type: object
      properties:
        type:
          type: string
          description: Module type (SHACL, JSON_SCHEMA, XML_SCHEMA, OWL)
        name:
          type: string
          description: Display name
        description:
          type: string
          description: Module description
        schemaCount:
          type: integer
          format: int64
          description: Number of schemas for this module
        enabled:
          type: boolean
          description: Whether this module is active
    GraphDatabaseStatus:
      type: object
      properties:
        activeBackend:
          type: string
          description: Currently active graph database backend
        connected:
          type: boolean
          description: Whether the graph database is reachable
        claimCount:
          type: integer
          format: int64
          description: Number of claims in the graph database
        version:
          type: string
          description: Graph database version or implementation info
    GraphDatabaseSwitchResult:
      type: object
      properties:
        restartRequired:
          type: boolean
          description: Whether a restart is needed for the switch to take effect
        message:
          type: string
          description: Human-readable status message

    ProvenanceCredential:
      type: object
      required: [id, assetId, assetVersion, issuer, issuedAt, provenanceType, credentialFormat]
      properties:
        id:
          type: string
          format: uuid
          description: Internal UUID of the persisted provenance credential.
        assetId:
          type: string
          description: IRI of the asset this credential is attached to.
        assetVersion:
          type: integer
          description: 1-based Envers version ordinal the credential is linked to.
        credentialId:
          type: string
          description: VC id field (unique per asset).
        issuer:
          type: string
          description: DID of the VC issuer.
        issuedAt:
          type: string
          format: date-time
          description: issuedDateTime extracted from the VC.
        provenanceType:
          type: string
          enum: [CREATION, DERIVATION, ATTRIBUTION, MODIFICATION, APPROVAL]
          description: Provenance relation type, mapped to a PROV-O predicate.
        credentialFormat:
          type: string
          enum: [JSONLD, JSONLD_JWT, JWT]
          description: Detected credential format.
        credentialContent:
          type: string
          description: Raw VC payload (JSON-LD or JWT string).
        verified:
          type: boolean
          description: Whether this credential has been verified.
        verificationTimestamp:
          type: string
          format: date-time
          nullable: true
          description: When the last verification was performed.
        verificationResult:
          $ref: '#/components/schemas/ProvenanceVerificationResult'
    ProvenanceCredentials:
      allOf:
        - $ref: '#/components/schemas/ResultPage'
        - type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/ProvenanceCredential'
    ProvenanceVerificationResult:
      type: object
      properties:
        isValid:
          type: boolean
          description: Overall validity of the credential.
        verificationTimestamp:
          type: string
          format: date-time
        verificationMethod:
          type: string
          description: DID verification method used.
        issuerResolutionStatus:
          type: string
          enum: [RESOLVED, UNRESOLVABLE, TEMPORARILY_UNAVAILABLE]
          description: Result of DID resolution for the issuer.
        issuedDateTime:
          type: string
          format: date-time
        signatureValid:
          type: boolean
        credentialExpiryValid:
          type: boolean
        validatorDids:
          type: array
          items:
            type: string
        errors:
          type: array
          items:
            type: string
        warnings:
          type: array
          items:
            type: string

  parameters:
    OffsetParam:
      name: offset
      in: query
      schema:
        type: integer
        minimum: 0
        default: 0
      required: false
      description: The number of items to skip before starting to collect the result set.
    LimitParam:
      in: query
      name: limit
      schema:
        type: integer
        minimum: 1
        maximum: 1000
        default: 100
      required: false
      description: The number of items to return.
    OrderByParam:
      in: query
      name: orderBy
      schema:
        type: string
      required: false
      description: Results will be sorted by this field.
    AscendingParam:
      in: query
      name: ascending
      schema:
        type: boolean
        default: true
      required: false
      description: Ascending/Descending ordering.
    StatusParam:
      in: query
      name: statuses
      schema:
        type: array
        items:
          $ref: '#/components/schemas/AssetStatus'
      explode: false
      required: false
      description: Asset statuses
  securitySchemes:
    jwt:
      type: http
      scheme: bearer
      bearerFormat: JWT
tags:
  - name: Assets
    description: >-
      Manage assets in the Catalogue. Assets can be RDF credentials (JSON-LD
      Verifiable Presentations containing Verifiable Credentials), non-credential 
      RDF data (plain RDF triples), or non-RDF files. RDF content is automatically 
      verified and all claims or triples extracted to the graph database. Non-RDF 
      content is stored as-is. Assets are referenced by their sha256 hash. Catalogues 
      synchronize by exchanging changesets (lists of hashes) with peer Catalogues 
      and downloading any assets not yet locally available.
    externalDocs:
      description: Find out more
      url: https://docs.gaia-x.eu
  - name: Query
    description: Send graph queries to this Catalogue.
  - name: Schemas
    description: >-
      Schemas define the format of assets in the catalogue. Supported types include
      RDF schemas (ontologies, shapes, vocabularies) as well as non-RDF schemas
      (JSON Schema, XML Schema).
  - name: Verification
    description: The Catalogue provides a verification service for e.g. checking the syntax
  - name: Participants
    description: Participant Management operations
  - name: Users
    description: User Management operations
  - name: Roles
    description: Role Managemet operations
  - name: Session
    description: Management for auth sessions in the catalogue
  - name: Graph Admin
    description: Graph database administration operations.
  - name: Admin
    description: Administration dashboard and system management operations.
  - name: TrustFrameworkAdmin
    description: Trust framework configuration and management.
  - name: SchemaValidationAdmin
    description: Schema validation module configuration.
  - name: GraphDatabaseAdmin
    description: Graph database status and backend switching.
paths:
  /admin/me:
    get:
      tags:
        - Admin
      summary: Check if the current user has admin access
      operationId: checkAdminAccess
      security:
        - jwt: []
      responses:
        '200':
          description: User has admin access
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/stats:
    get:
      tags:
        - Admin
      summary: Get dashboard statistics
      operationId: getAdminStats
      security:
        - jwt: []
      responses:
        '200':
          description: Dashboard statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminStats'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/ServerError'
  /admin/health:
    get:
      tags:
        - Admin
      summary: Get component health overview
      operationId: getAdminHealth
      security:
        - jwt: []
      responses:
        '200':
          description: Component health status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminHealthStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/ServerError'
  /admin/keycloak-url:
    get:
      tags:
        - Admin
      summary: Get the Keycloak Admin Console URL for embedding
      operationId: getKeycloakAdminUrl
      security:
        - jwt: []
      responses:
        '200':
          description: Keycloak Admin Console URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeycloakAdminUrl'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/ServerError'
  /admin/trust-frameworks:
    get:
      tags:
        - TrustFrameworkAdmin
      summary: List all registered trust frameworks
      operationId: getTrustFrameworks
      security:
        - jwt: []
      responses:
        '200':
          description: List of trust frameworks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrustFrameworkEntry'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/ServerError'
  /admin/trust-frameworks/{id}/enabled:
    put:
      tags:
        - TrustFrameworkAdmin
      summary: Toggle a trust framework's enabled state
      operationId: setTrustFrameworkEnabled
      security:
        - jwt: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: enabled
          in: query
          required: true
          schema:
            type: boolean
      responses:
        '200':
          description: Framework enabled state updated
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /admin/trust-frameworks/{id}:
    put:
      tags:
        - TrustFrameworkAdmin
      summary: Update a trust framework's configuration
      operationId: updateTrustFrameworkConfig
      security:
        - jwt: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrustFrameworkConfigUpdate'
      responses:
        '200':
          description: Framework configuration updated
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /admin/schema-validation:
    get:
      tags:
        - SchemaValidationAdmin
      summary: Get schema validation module status
      operationId: getSchemaValidationStatus
      security:
        - jwt: []
      responses:
        '200':
          description: Schema validation modules with status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaValidationStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/ServerError'
  /admin/schema-validation/modules/{type}:
    put:
      tags:
        - SchemaValidationAdmin
      summary: Toggle a schema validation module
      operationId: setSchemaModuleEnabled
      security:
        - jwt: []
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
        - name: enabled
          in: query
          required: true
          schema:
            type: boolean
      responses:
        '200':
          description: Module enabled state updated
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
  /admin/graph-database:
    get:
      tags:
        - GraphDatabaseAdmin
      summary: Get graph database status
      operationId: getGraphDatabaseStatus
      security:
        - jwt: []
      responses:
        '200':
          description: Graph database status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphDatabaseStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/ServerError'
  /admin/graph-database/switch:
    post:
      tags:
        - GraphDatabaseAdmin
      summary: Switch the graph database backend (requires restart)
      operationId: switchGraphDatabase
      security:
        - jwt: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                backend:
                  type: string
                  description: Target backend (NEO4J, FUSEKI, NONE)
              required:
                - backend
      responses:
        '200':
          description: Switch request accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphDatabaseSwitchResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/ServerError'
  /admin/graph/rebuild:
    post:
      tags:
        - Graph Admin
      summary: Trigger an asynchronous graph rebuild
      operationId: triggerGraphRebuild
      security:
        - jwt: []
      responses:
        '202':
          description: Graph rebuild started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RebuildStatus'
        '409':
          description: A graph rebuild is already in progress
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RebuildStatus'
        '503':
          description: Graph store is disabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /admin/graph/rebuild/status:
    get:
      tags:
        - Graph Admin
      summary: Get the current graph rebuild status
      operationId: getGraphRebuildStatus
      security:
        - jwt: []
      responses:
        '200':
          description: Current rebuild status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RebuildStatus'
  /admin/graph/status:
    get:
      tags:
        - Graph Admin
      summary: Get the current graph store status
      operationId: getGraphStatus
      security:
        - jwt: []
      responses:
        '200':
          description: Graph store status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphStatus'
  /assets:
    get:
      tags:
        - Assets
      summary: Get the list of asset metadata in the Catalogue
      operationId: readAssets
      security:
        - jwt: []
      parameters: #!! Added filter parameters for all(?) metadata fields
        - name: uploadTimerange
          in: query
          description: >-
            Filter for the time range when the asset was uploaded to the
            catalogue. The time range has to be specified as start time and
            end time as ISO8601 timestamp separated by a `/`.
          required: false
          example: 2022-03-01T13:00:00Z/2022-05-11T15:30:00Z
          schema:
            type: string
        - name: statusTimerange
          in: query
          description: >-
            Filter for the time range when the status of the asset was last
            changed in the catalogue. The time range has to be specified as
            start time and end time as ISO8601 timestamp separated by a `/`.
          required: false
          example: 2022-03-01T13:00:00Z/2022-05-11T15:30:00Z
          schema:
            type: string
        - name: issuers
          in: query
          description: >-
            Filter for the issuer of the credential. This is the unique ID of the
            Participant that has prepared the credential.
          required: false
          schema:
            type: array
            items:
              type: string
          explode: false
        - name: validators
          in: query
          description: >-
            Filter for a validator of the credential. This is the unique ID of the
            Participant that validated (part of) the credential.
          required: false
          schema:
            type: array
            items:
              type: string
          explode: false
        - name: statuses
          in: query
          description: Filter for the status of the asset.
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/AssetStatus'
          explode: false
        - name: ids
          in: query
          description: Filter for the id/credentialSubject of the credential.
          required: false
          schema:
            type: array
            items:
              type: string
          explode: false
        - name: hashes
          in: query
          description: Filter for the hash of the asset.
          required: false
          schema:
            type: array
            items:
              type: string
          explode: false
        - name: withMeta
          in: query
          description: Whether to include asset metadata in the response.
          required: false
          schema:
            type: boolean
            default: true
        - name: withContent
          in: query
          description: Whether to include asset content in the response.
          required: false
          schema:
            type: boolean
            default: false
        - $ref: '#/components/parameters/OffsetParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of metadata of available assets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assets'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      tags:
        - Assets
      summary: Add a new asset to the catalogue
      description: >-
        Upload an asset. RDF content (JSON-LD credentials) is automatically
        detected and routed through the verification pipeline. Non-RDF content
        is stored directly.
      operationId: addAsset
      security:
        - jwt: []
      requestBody:
        description: >-
          The asset content. For JSON-LD credentials, use application/json,
          application/vc+ld+json, or application/vp+ld+json. For JWT-wrapped
          credentials use application/vc+jwt (VC) or application/vp+jwt (VP) —
          these are IANA-registered types per W3C VC-JOSE-COSE and are issued by
          the live GXDCH Compliance Service. The ICAM 24.07 variants
          application/vc+ld+json+jwt and application/vp+ld+json+jwt are also
          accepted for backward compatibility but are not IANA-registered.
          For non-RDF assets, use multipart/form-data or application/octet-stream
          (handled by the server outside the generated delegate pattern).
        content:
          application/json:
            schema:
              type: string
          application/ld+json:
            schema:
              type: string
          application/vc+ld+json:
            schema:
              type: string
          application/vp+ld+json:
            schema:
              type: string
          application/vc+jwt:
            schema:
              type: string
          application/vp+jwt:
            schema:
              type: string
          application/vc+ld+json+jwt:
            schema:
              type: string
          application/vp+ld+json+jwt:
            schema:
              type: string
        required: true
      responses:
        '201':
          description: Created
          headers:
            location:
              description: URL of the added asset.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/ServerError'
  /assets/{id}:
    get:
      tags:
        - Assets
      summary: Read an asset by its IRI.
      description: >
        Returns a JSON-serialized Asset metadata object for any asset identified by its IRI.

        For RDF (JSON-LD) assets, the rawContent field is populated with the raw JSON-LD string.

        For any asset (RDF or non-RDF) that has bidirectional links to another representation,
        the humanReadableId or machineReadableId fields are populated.

        For non-RDF assets (PDF, images, binary files), the file content can be retrieved via
        GET /assets/{id}/human-readable or GET /assets/{id}/machine-readable.
      operationId: readAssetById
      parameters:
        - name: id
          in: path
          description: IRI identifier of the asset (DID, URN, or HTTP IRI)
          required: true
          schema:
            type: string
          examples:
            did:
              summary: DID Web identifier
              value: 'did:web:example.com:participant'
            urn:
              summary: UUID URN (non-RDF assets)
              value: 'urn:uuid:550e8400-e29b-41d4-a716-446655440000'
            http:
              summary: HTTP IRI
              value: 'https://example.org/asset/123'
        - name: version
          in: query
          description: Optional 1-based version ordinal. If provided, returns the asset content at that specific version.
          required: false
          schema:
            type: integer
            minimum: 1
      security:
        - jwt: []
      responses:
        '200':
          description: >
            The asset metadata as a JSON-serialized Asset object.
            For RDF (JSON-LD) assets, the rawContent field is populated with the raw JSON-LD string.
            For any asset with bidirectional links, humanReadableId or machineReadableId fields are populated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    put:
      tags:
        - Assets
      summary: Update an asset in-place (versioned).
      description: >
        Updates an existing asset identified by its IRI. The update is applied in-place;
        Envers records the previous state as a new revision in assets_aud automatically.
        If no asset exists for the given IRI, the asset is created as version 1.
        Required permission: ASSET_UPDATE or ADMIN_ALL
      operationId: updateAsset
      parameters:
        - name: id
          in: path
          description: IRI identifier of the asset
          required: true
          schema:
            type: string
        - name: changeComment
          in: query
          description: Optional human-readable note for this version.
          required: false
          schema:
            type: string
      security:
        - jwt: []
      requestBody:
        required: true
        content:
          application/ld+json:
            schema:
              type: string
          application/json:
            schema:
              type: string
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/ServerError'
  /assets/{id}/versions:
    get:
      tags:
        - Assets
      summary: Get version history for an asset.
      description: >
        Returns a paginated list of all versions of the asset, ordered descending (newest first).
        Required permission: ASSET_READ or ADMIN_ALL
      operationId: readAssetVersions
      parameters:
        - name: id
          in: path
          description: IRI identifier of the asset
          required: true
          schema:
            type: string
        - name: page
          in: query
          description: 0-based page index.
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
        - name: size
          in: query
          description: Page size (1–100).
          required: false
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      security:
        - jwt: []
      responses:
        '200':
          description: The version history of the asset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetVersionList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /assets/{id}/versions/{version}/revoke:
    post:
      tags:
        - Assets
      summary: Revoke a specific version of an asset.
      description: >
        Revokes the specified version of the asset. Only the current (latest) version can be revoked.
        Attempting to revoke a historical version returns 409 Conflict, because Envers snapshots are immutable.
        Required permission: ASSET_UPDATE or ADMIN_ALL
      operationId: revokeAssetVersion
      parameters:
        - name: id
          in: path
          description: IRI identifier of the asset
          required: true
          schema:
            type: string
        - name: version
          in: path
          description: 1-based version ordinal to revoke.
          required: true
          schema:
            type: integer
            minimum: 1
      security:
        - jwt: []
      responses:
        '200':
          description: Revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetVersion'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/ServerError'
  /assets/{id}/human-readable:
    post:
      tags:
        - Assets
      summary: Upload and link a human-readable representation to a machine-readable asset
      description: >
        Uploads a human-readable document (e.g. PDF) and links it bidirectionally
        to the existing machine-readable asset identified by {id}. The human-readable document
        is stored as an independent asset with its own IRI.
        Multipart uploads are handled by the server outside the generated delegate pattern.
        Required permission: ASSET_CREATE or ADMIN_ALL
      operationId: uploadHumanReadable
      security:
        - jwt: []
      parameters:
        - name: id
          in: path
          description: IRI of the machine-readable asset to link to
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: Human-readable document (e.g. PDF)
      responses:
        '201':
          description: Created — the human-readable asset was stored and linked
          headers:
            location:
              description: URL of the new human-readable asset.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/ServerError'
    put:
      tags:
        - Assets
      summary: Replace the human-readable representation linked to a machine-readable asset
      description: >
        Replaces the content of an existing human-readable document linked to the machine-readable asset
        identified by {id}. The human-readable asset must already be linked — use POST to create the
        initial link. The IRI of the human-readable asset is preserved.
        Required permission: ASSET_UPDATE or ADMIN_ALL
      operationId: replaceHumanReadable
      security:
        - jwt: []
      parameters:
        - name: id
          in: path
          description: IRI of the machine-readable asset
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: Human-readable document
      responses:
        '200':
          description: OK — the human-readable asset content was replaced
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/ServerError'
    get:
      tags:
        - Assets
      summary: Download the human-readable representation linked to a machine-readable asset
      description: >
        Returns the binary content of the human-readable document linked to the asset.
        Required permission: ASSET_READ or ADMIN_ALL
      operationId: getHumanReadable
      security:
        - jwt: []
      parameters:
        - name: id
          in: path
          description: IRI of the machine-readable asset
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The human-readable document with its original Content-Type header
          content:
            '*/*':
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /assets/{id}/machine-readable:
    get:
      tags:
        - Assets
      summary: Download the machine-readable asset linked to a human-readable representation
      description: >
        Returns the binary content of the machine-readable asset linked to this human-readable
        representation. Required permission: ASSET_READ or ADMIN_ALL
      operationId: getMachineReadable
      security:
        - jwt: []
      parameters:
        - name: id
          in: path
          description: IRI of the human-readable asset
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The machine-readable asset content with its original Content-Type header
          content:
            '*/*':
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /assets/{asset_hash}:
    delete:
      tags:
        - Assets
      summary: Completely delete an asset by its content hash
      description: >
        Unlike other asset endpoints which use IRI-based identification (/assets/{id}),
        the delete operation uses the SHA-256 content hash to guarantee unambiguous
        single-row targeting. See ADR 7 — Delete Operation Exception.
      operationId: deleteAsset
      security:
        - jwt: []
      parameters:
        - name: asset_hash
          in: path
          description: Hash identifier of the asset
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /assets/{asset_hash}/revoke:
    post:
      tags:
        - Assets
      summary: Change the lifecycle state of an asset to revoked
      description: >
        Like the delete operation, the revoke endpoint uses the SHA-256 content hash
        to guarantee unambiguous single-row targeting. Only ACTIVE assets can be revoked.
        When versioning is introduced (CAT-FR-LM-01), this endpoint will be replaced by
        version-specific revocation (POST /assets/{id}/versions/{v}/revoke).
        See ADR 7 — Delete Operation Exception.
      operationId: revokeAsset
      security:
        - jwt: []
      parameters:
        - name: asset_hash
          in: path
          description: Hash identifier of the asset
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Revoked
          headers:
            location:
              description: URL of the asset
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /assets/{id}/provenance:
    post:
      tags:
        - Assets
      summary: Attach a provenance credential to an asset version.
      description: >
        Stores a VC 2.0 JSON-LD or VC-JWT provenance credential against the given asset version.
        If version is omitted the current version is used. credentialSubject.id MUST equal
        {assetId}:v{N}. VC 1.1 payloads or credentials using the CAT-internal namespace are
        rejected with 400. Duplicate credentialId returns 409. Required permission: ASSET_UPDATE
        or ADMIN_ALL
      operationId: addProvenanceCredential
      security:
        - jwt: []
      parameters:
        - name: id
          in: path
          description: IRI identifier of the asset
          required: true
          schema:
            type: string
        - name: version
          in: query
          description: 1-based target version ordinal. Defaults to the current version.
          required: false
          schema:
            type: integer
            minimum: 1
      requestBody:
        required: true
        content:
          application/ld+json:
            schema:
              type: string
              description: VC 2.0 JSON-LD payload
          application/vc+jwt:
            schema:
              type: string
              description: VC-JWT compact serialization
          application/json:
            schema:
              type: string
              description: VC 2.0 JSON-LD payload
      responses:
        '201':
          description: Provenance credential stored.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProvenanceCredential'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/ServerError'
    get:
      tags:
        - Assets
      summary: List provenance credentials for an asset.
      description: >
        Returns a paginated list of provenance credentials sorted by issuedAt descending.
        Optionally filter by version. Required permission: ASSET_READ or ADMIN_ALL
      operationId: listProvenanceCredentials
      security:
        - jwt: []
      parameters:
        - name: id
          in: path
          description: IRI identifier of the asset
          required: true
          schema:
            type: string
        - name: version
          in: query
          description: Filter by 1-based version ordinal.
          required: false
          schema:
            type: integer
            minimum: 1
        - name: page
          in: query
          description: 0-based page index.
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
        - name: size
          in: query
          description: Page size (1–100).
          required: false
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Paginated provenance credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProvenanceCredentials'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /assets/{id}/provenance/verify:
    post:
      tags:
        - Assets
      summary: Verify all provenance credentials for an asset.
      description: >
        Verifies all provenance credentials for the asset (optionally filtered by version).
        Returns an aggregated result with per-credential status. Required permission: ASSET_READ
        or ADMIN_ALL
      operationId: verifyAllProvenanceCredentials
      security:
        - jwt: []
      parameters:
        - name: id
          in: path
          description: IRI identifier of the asset
          required: true
          schema:
            type: string
        - name: version
          in: query
          description: Filter by 1-based version ordinal.
          required: false
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Aggregated verification result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProvenanceVerificationResult'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /assets/{id}/provenance/{credentialId}:
    get:
      tags:
        - Assets
      summary: Get a single provenance credential.
      description: >
        Returns the full provenance credential record including the raw VC content.
        Required permission: ASSET_READ or ADMIN_ALL
      operationId: getProvenanceCredential
      security:
        - jwt: []
      parameters:
        - name: id
          in: path
          description: IRI identifier of the asset
          required: true
          schema:
            type: string
        - name: credentialId
          in: path
          description: VC id field of the provenance credential
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The provenance credential record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProvenanceCredential'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /assets/{id}/provenance/{credentialId}/verify:
    post:
      tags:
        - Assets
      summary: Verify a single provenance credential.
      description: >
        Validates the signature and DID of the given provenance credential and persists the
        extended verification result. Required permission: ASSET_READ or ADMIN_ALL
      operationId: verifyProvenanceCredential
      security:
        - jwt: []
      parameters:
        - name: id
          in: path
          description: IRI identifier of the asset
          required: true
          schema:
            type: string
        - name: credentialId
          in: path
          description: VC id field of the provenance credential
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Verification result persisted and returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProvenanceVerificationResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /query: #!! Suggestion: rename to query, and allow only a single query. If multiple queries are ever added in the future, add an endpoint queries. -> Julius: ok
    get:
      tags:
        - Query
      summary: Retrieve an HTML website to send openCypher queries to the Catalogue
      description: 'Required permission: QUERY_EXECUTE or ADMIN_ALL'
      operationId: querywebsite
      security:
        - jwt: []
      responses:
        '200':
          description: HTML document that contains a query field for openCypher queries.
          content:
            text/html:
              schema:
                type: string
        '400':
          $ref: '#/components/responses/ClientError'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      tags:
        - Query
      summary: Send a query to the Catalogue
      description: 'Required permission: QUERY_EXECUTE or ADMIN_ALL'
      operationId: query
      parameters:
        - in: query
          name: timeout
          schema:
            type: integer
            default: 5
          required: false
        - in: query
          name: withTotalCount
          schema:
            type: boolean
            default: true
          required: false
      security:
        - jwt: []
      requestBody:
        description: >-
          Raw query text. Use Content-Type to indicate the query language:
          "application/sparql-query" for SPARQL, "application/opencypher-query"
          for openCypher.
        required: true
        content:
          application/sparql-query:
            schema:
              type: string
              example: "SELECT ?s ?p ?o WHERE { ?s ?p ?o } LIMIT 10"
          application/opencypher-query:
            schema:
              type: string
              example: "MATCH (n:Resource) RETURN n.uri AS id, n.name AS name LIMIT 10"
      responses:
        '200':
          description: successful query
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Results'
        '400': ## Malformed Message: The receveived request cannot be processed, either because its syntax is ## incorrect or forbidden query clauses are used. For instance, it is not allowed to manipulate data ## through the query endpoint
          $ref: '#/components/responses/ClientError'
        '408': ## Query Timeout: the query took longer than the configured timeout
          ## interval. The client needs to rewrite the query so it can be
          ## processed faster.
          $ref: '#/components/responses/ServerError'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/ServerError'
  /query/info:
    get:
      tags:
        - Query
      summary: Get information about the active query backend
      description: 'Required permission: QUERY_EXECUTE or ADMIN_ALL'
      operationId: queryInfo
      security:
        - jwt: []
      responses:
        '200':
          description: Query backend information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryInfo'
        '500':
          $ref: '#/components/responses/ServerError'
  /query/search:
    post:
      tags:
        - Query
      summary: Run distributed search query in the Catalogue
      description: 'Required permission: QUERY_EXECUTE or ADMIN_ALL'
      operationId: search
      security:
        - jwt: []
      requestBody:
        description: JSON object containing query with parameters and annotations
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnnotatedStatement'
      responses:
        '200':
          description: successful query
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Results'
        '400': ## Wrong query
          $ref: '#/components/responses/ClientError'
        '408': ## Query Timeout:
          $ref: '#/components/responses/ServerError'
        '422':
          $ref: '#/components/responses/Unprocessible'
        '500':
          $ref: '#/components/responses/ServerError'

  /schemas:
    get:
      tags:
        - Schemas
      summary: 'Get the full list of schemas (ontologies, shapes, vocabularies, JSON schemas, XML schemas).'
      description: 'The schema identifiers, returned by this endpoint can be used to download the schema files. Includes both RDF and non-RDF schema types. Required permission: SCHEMA_READ or ADMIN_ALL'
      operationId: getSchemas
      security:
        - jwt: []
      responses:
        '200':
          description: 'References to ontologies, shapes and vocabularies.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OntologySchema'
        '400':
          $ref: '#/components/responses/ClientError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/ServerError'          
    post:
      tags:
        - Schemas
      summary: 'Add a new Schema to the catalogue.'
      description: 'This endpoint accepts an ontology (OWL), shape (SHACL), controlled vocabulary (SKOS), JSON Schema, or XML Schema (XSD), which is added to the schemas of the catalogue. Required permission: SCHEMA_CREATE or ADMIN_ALL'
      operationId: addSchema
      security:
        - jwt: []
      requestBody:
        description: 'The file of the new schema: an ontology (OWL), shape (SHACL), controlled vocabulary (SKOS), JSON Schema, or XML Schema (XSD).'
        content:
          application/rdf+xml:
            schema:
              type: string
              description: 'OWL file describing the ontology of the schema or SKOS file describing the controlled vocabulary.'
          application/ld+json:
            schema:
              type: string
              description: 'OWL or SHACL file describing the ontology.'
          application/json:
              schema:
                type: string
                description: 'OWL or SHACL file describing the ontology.'
          text/turtle:
            schema:
              type: string
              description: 'SHACL file describing the ontology of the schema.'
          application/schema+json:
            schema:
              type: string
              description: 'JSON Schema file (Draft 2020-12).'
          application/xml:
            schema:
              type: string
              description: 'XML Schema (XSD) file.'
        required: true
      responses:
        '201':
          description: 'Created'
          headers:
            location:
              description: 'URL of the added Schema.'
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaResult'
        '400':
          $ref: '#/components/responses/ClientError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: 'Unprocessable Entity. The schema content is syntactically invalid.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/ServerError'
  /schemas/{schemaId}:
    get:
      tags:
        - Schemas
      summary: Get a specific schema.
      description: 'Required permission: SCHEMA_READ or ADMIN_ALL'
      operationId: getSchema
      security:
        - jwt: []
      parameters:
        - name: schemaId
          in: path
          description: 'Identifier of the Schema.'
          required: true
          schema:
            type: string
        - name: version
          in: query
          description: 'Optional version number. If provided, returns the schema at that specific version.'
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: 'The schema for the given identifier. Depending on the type of the schema, either an ontology, shape graph or controlled vocabulary is returned.'
          content:
            application/rdf+xml:
              schema:
                type: string
                description: 'OWL file describing the ontology of the schema or SKOS file describing the controlled vocabulary.'
            text/turtle:
              schema:
                type: string
                description: 'SHACL file describing the ontology of the schema.'
            application/schema+json:
              schema:
                type: string
                description: 'JSON Schema file.'
            application/xml:
              schema:
                type: string
                description: 'XML Schema (XSD) file.'
        '400':
          $ref: '#/components/responses/ClientError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    put:
      tags:
        - Schemas
      summary: 'Replace a schema. This is only allowed for ontologies with the same IRI.'
      description: 'Required permission: SCHEMA_UPDATE or ADMIN_ALL'
      operationId: updateSchema
      parameters:
        - name: schemaId
          in: path
          description: 'Identifier of the Schema.'
          required: true
          schema:
            type: string
      security:
        - jwt: [ ]
      requestBody:
        description: 'The new ontology (OWL file).'
        content:
          application/rdf+xml:
            schema:
              type: string
              description: 'OWL file describing the ontology.'
          application/ld+json:
            schema:
              type: string
              description: 'OWL or SHACL file describing the ontology.'
          application/json:
            schema:
              type: string
              description: 'OWL or SHACL file describing the ontology.'
          text/turtle:
            schema:
              type: string
              description: 'SHACL file describing the ontology of the schema.'
        required: true
      responses:
        '200':
          description: 'Updated.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaResult'
        '400':
          $ref: '#/components/responses/ClientError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/ServerError'
    delete:
      tags:
        - Schemas
      summary: 'Delete a Schema'
      description: 'Required permission: SCHEMA_DELETE or ADMIN_ALL'
      operationId: deleteSchema
      security:
        - jwt: [ ]
      parameters:
        - name: schemaId
          in: path
          description: 'Identifier of the Schema'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Deleted Schema'
        '400':
          $ref: '#/components/responses/ClientError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /schemas/{schemaId}/versions:
    get:
      tags:
        - Schemas
      summary: 'Get version history for a schema.'
      description: 'Returns an ordered list of all versions of the schema. Required permission: SCHEMA_READ or ADMIN_ALL'
      operationId: getSchemaVersions
      security:
        - jwt: []
      parameters:
        - name: schemaId
          in: path
          description: 'Identifier of the Schema.'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'The version history of the schema.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaVersionList'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /schemas/latest:
    get: 
      tags:
        - Schemas
      summary: 'Get the latest schema for a given type.'
      description: >-
        Behavior depends on schema type:

        **RDF types** (ontology, shape, vocabulary): Returns the **composite schema** — a merged union
        of all stored schemas of that type. This is meaningful because RDF schemas are additive
        (shapes and ontologies can be combined into a single graph).

        **Non-RDF types** (json, xml): Returns the **most recently uploaded** schema of that type.
        Compositing does not apply because JSON and XML schemas are self-contained and cannot be
        meaningfully merged.
      operationId: getLatestSchema
      parameters:
        - name: type
          in: query
          description: 'Type of the schema.'
          required: true
          schema:
            type: string
            enum:
              - ontology
              - shape
              - vocabulary
              - json
              - xml
        - name: term
          in: query
          description: 'The URI of the term of the requested schema e.g. `https://w3id.org/gaia-x/2511#ServiceOffering`'
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 'The latest schemas for the given type or term.'
          content:
            application/rdf+xml:
              schema:
                type: string
                description: 'OWL file describing the ontology of the schema or SKOS file describing the controlled vocabulary.'
            text/turtle:
              schema:
                type: string
                description: 'SHACL file describing the ontology of the schema.'
            application/schema+json:
              schema:
                type: string
                description: 'JSON Schema file.'
            application/xml:
              schema:
                type: string
                description: 'XML Schema (XSD) file.'
        '400':
          $ref: '#/components/responses/ClientError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /verification:
    get:
      tags:
        - Verification
      summary: Show a HTML page to verify (portions of) a signed credential
      operationId: verifyPage
      responses:
        '200':
          description: >-
            HTML document that contains a query field to verify (portions of)
            credentials.
          content:
            text/html:
              schema:
                type: string
        '400':
          $ref: '#/components/responses/ClientError'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      tags:
        - Verification
      summary: >-
        Send a JSON-LD document to verify with the information from the
        Catalogue
      operationId: verify
      parameters:
        - name: verifySemantics
          in: query
          description: 'To verify credential semantics or not'
          required: false
          schema:
            type: boolean
            default: true
        - name: verifySchema
          in: query
          description: 'To verify credential against stored SHACL shapes or not'
          required: false
          schema:
            type: boolean
            default: false
        - name: verifyVPSignature
          in: query
          description: 'To verify VP signature or not'
          required: false
          schema:
            type: boolean
            default: true  
        - name: verifyVCSignature
          in: query
          description: 'To verify VC signature or not'
          required: false
          schema:
            type: boolean
            default: true  
      requestBody:
        description: >-
          The credential to verify. For JSON-LD credentials, use application/json,
          application/vc+ld+json, or application/vp+ld+json. For JWT-wrapped
          credentials use application/vc+jwt (VC) or application/vp+jwt (VP) —
          these are IANA-registered types per W3C VC-JOSE-COSE and are issued by
          the live GXDCH Compliance Service. The ICAM 24.07 variants
          application/vc+ld+json+jwt and application/vp+ld+json+jwt are also
          accepted for backward compatibility but are not IANA-registered.
        content:
          application/json:
            schema:
              type: string
          application/ld+json:
            schema:
              type: string
          application/vc+ld+json:
            schema:
              type: string
          application/vp+ld+json:
            schema:
              type: string
          application/vc+jwt:
            schema:
              type: string
          application/vp+jwt:
            schema:
              type: string
          application/vc+ld+json+jwt:
            schema:
              type: string
          application/vp+ld+json+jwt:
            schema:
              type: string
      responses:
        '200':
          description: Verification result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationResult'
        '400':
          $ref: '#/components/responses/ClientError'
        '422':
          $ref: '#/components/responses/Unprocessible'
        '500':
          $ref: '#/components/responses/ServerError'
  /participants:
    get: #!! Needs pagination; Should this really include the entire Participant credential, or only the hash?
      tags:
        - Participants
      summary: Get the registered participants
      operationId: getParticipants
      parameters: #!! Added pagination parameters
        - $ref: '#/components/parameters/OffsetParam'
        - $ref: '#/components/parameters/LimitParam'
#        - $ref: '#/components/parameters/OrderByParam'
#        - $ref: '#/components/parameters/AscendingParam'
      responses:
        '200':
          description: List of registered participants
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Participants'
        '400':
          $ref: '#/components/responses/ClientError'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - jwt: []
    post:
      tags:
        - Participants
      summary: Register a new participant in the catalogue
      operationId: addParticipant
      requestBody:
        description: Participant credential
        required: true
        content:
          application/json:
            schema:
              type: string
      responses: #!! Should contain a Location header with the link to the new participant?
        '201':
          description: Created Participant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Participant'
          headers: #!! Added location header with participant URL
            location: 
              description: 'URL of the added Participant'
              schema: 
                type: string
        '400':
          $ref: '#/components/responses/ClientError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - jwt: []
  /participants/{participantId}:
    get:
      tags:
        - Participants
      summary: Get the registered participant
      operationId: getParticipant
      parameters:
        - in: path
          name: participantId
          required: true
          description: The participantId to get.
          schema:
            type: string
      responses:
        '200':
          description: The requested participant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Participant'
        '400':
          $ref: '#/components/responses/ClientError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - jwt: []
    put:
      tags:
        - Participants
      summary: Update a participant in the catalogue
      operationId: updateParticipant
      parameters: #!! fehlt da nicht irgendwie das update?
        - in: path
          name: participantId
          required: true
          description: The participant to update.
          schema:
            type: string
      requestBody: #!! Added participant as request body
        description: Participant credential
        required: true
        content:
          application/json:
            schema:
              type: string
      responses:
        '200':
          description: Updated Participant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Participant'
        '400':
          $ref: '#/components/responses/ClientError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - jwt: []
    delete:
      tags:
        - Participants
      summary: Delete a participant in the catalogue
      operationId: deleteParticipant
      parameters:
        - in: path
          name: participantId
          required: true
          description: The participant to delete.
          schema:
            type: string
      responses:
        '200':
          description: Deleted Participant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Participant'
        '400':
          $ref: '#/components/responses/ClientError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - jwt: []
  /participants/{participantId}/users:
    get:
      tags:
        - Participants
      summary: Get all users of the registered participant
      operationId: getParticipantUsers
      parameters:
        - in: path
          name: participantId
          required: true
          description: The participant Id
          schema:
            type: string
        - $ref: '#/components/parameters/OffsetParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Users of the participant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfiles'
        '400':
          $ref: '#/components/responses/ClientError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - jwt: []
  /users: #!! This may conflict with an SSO setup using an external auth provider
    get: #!! potentially long list needs pagination
      tags:
        - Users
      summary: List the registered users
      operationId: getUsers
      parameters: #!! Added pagination parameters
        - $ref: '#/components/parameters/OffsetParam'
        - $ref: '#/components/parameters/LimitParam'
#        - $ref: '#/components/parameters/OrderByParam'
#        - $ref: '#/components/parameters/AscendingParam'
      responses:
        '200':
          description: List of usernames
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfiles'
        '400':
          $ref: '#/components/responses/ClientError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      tags:
        - Users
      summary: Register a new user to the associated participant in the catalogue
      operationId: addUser
      requestBody:
        description: User profile
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '201':
          description: Created User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
          headers: #!! Added location header with user URL
            location: 
              description: 'URL of the added User'
              schema: 
                type: string
        '400':
          $ref: '#/components/responses/ClientError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/ServerError'
  /users/{userId}:
    get:
      tags:
        - Users
      summary: Get the user profile
      operationId: getUser
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '400':
          $ref: '#/components/responses/ClientError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    put:
      tags:
        - Users
      summary: Update the user profile
      operationId: updateUser
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: 'Updated user data, Participant ID will be ignored if provided.'
        required: true
        content: #!! Participant ID should be ignored if provided
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: Updated user profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '400':
          $ref: '#/components/responses/ClientError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    delete:
      tags:
        - Users
      summary: Delete a user
      operationId: deleteUser
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted user profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '400':
          $ref: '#/components/responses/ClientError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/ServerError'
  /users/{userId}/roles:
    get:
      tags:
        - Users
      summary: Get roles of the user
      operationId: getUserRoles
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User roles
          content:
            application/json:
              schema:
                type: array #!! Changed to array, since roles implies plural
                items:
                  $ref: '#/components/schemas/Role'
        '400':
          $ref: '#/components/responses/ClientError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    put:
      tags:
        - Users
      summary: Update roles of the user
      operationId: updateUserRoles
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: List of roles which should be assigned to the user
        content:
          application/json:
            schema:
              type: array #!! Changed to array, since roles implies plural
              items:
                $ref: '#/components/schemas/Role'
      responses:
        '200':
          description: All assigned roles of the user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '400':
          $ref: '#/components/responses/ClientError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /roles:
    get:
      tags:
        - Roles
      summary: Get all registered roles in the catalogue
      operationId: getAllRoles
      responses:
        '200':
          description: All roles
          content:
            application/json:
              schema:
                type: array #!! Changed to array, since roles implies plural
                items:
                  $ref: '#/components/schemas/Role'
        '400':
          $ref: '#/components/responses/ClientError'
        '500':
          $ref: '#/components/responses/ServerError'

  /session: #!! Changed to singular, since a user has only 1 session, and the get response is only one session.
    get:
      tags:
        - Session
      operationId: getCurrentSession
      responses:
        '200':
          description: Get information on the current session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
        '500':
          $ref: '#/components/responses/ServerError'
    delete: #!! This should be an implementation detail, logout is SSO-system dependent
      tags:
        - Session
      operationId: logoutCurrentSession
      responses:
        '200':
          description: The current session was closed
        '500':
          $ref: '#/components/responses/ServerError'
